[Unit]
Description=Connect to PIA VPN
After=piavpn.target pia-auth.target pia-configure.target

[Service]
Type=forking
Environment="LD_LIBRARY_PATH=/opt/piavpn/lib"
ExecStart=/usr/local/bin/piactl -d connect
ExecStop=/usr/local/bin/piactl -d disconnect
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target 
