[Unit]
Description=Configure pia auth file
After=

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pia-auth.sh
RemainAfterExit=false
ExecStop=
StandardOutput=journal

[Install]
WantedBy=multi-user.target 
