[Unit]
Description=Configure pia auth file
After=

[Service]
Type=oneshot
ExecStart=/bin/sh -c "[ -s /config/pia-auth.conf ] || ( [ -n "${PIA_USER}" ] && [ -n "${PIA_PASS}" ] && echo "${PIA_USER}" > /config/pia-auth.conf && echo "${PIA_PASS}" >> /config/pia-auth.conf )"
RemainAfterExit=false
ExecStop=
StandardOutput=journal

[Install]
WantedBy=multi-user.target 
