[Unit]
Description=Configure pia for background, port forward and login
After=piavpn.target pia-auth.target

[Service]
Type=oneshot
Environment="LD_LIBRARY_PATH=/opt/piavpn/lib"
ExecCondition=/bin/test -f /config/pia-auth.conf
ExecCondition=/bin/sh -c "[ $(cat /config/pia-auth.conf | sed '/^\s*$/d' | wc -l) -ge 2 ]"
ExecStart=/usr/local/bin/pia-configure.sh
RemainAfterExit=false
ExecStop=
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target 
