[Unit]
Description=Creates the /dev/net/tun device
After=network.target

[Service]
Type=oneshot
ExecCondition=/bin/sh -c "test ! -c /dev/net/tun"
ExecStart=/bin/sh -c "mkdir -p /dev/net && mknod -m 0666 /dev/net/tun c 10 200"
RemainAfterExit=false
ExecStop=
StandardOutput=journal

[Install]
WantedBy=multi-user.target 
